/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/
.myheader {
  position: static;
}

.mybt {
  position: relative;
  bottom: -200px;
}
.end {
  position: relative;
  bottom: -400px;
}