/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/
body {
  color: aliceblue;
}
.mybody {
  position: relative;
  bottom: -200px;
  text-align: center;
}
.mybtn {
  position: fixed;
  right: 3%;
  bottom: 5%;
}
.para {
  color: red;
  font-size: medium;
  font-style: oblique;
}
.lst {
  color: black;
  font-size: medium;
}